@import 'tailwindcss';
@import 'tailwindcss/theme';

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0 0 0);
}
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, sans-serif, Helvetica, Arial;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}
html { scroll-behavior: smooth; }
.section { scroll-margin-top: 80px; } 